* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  line-height: 22px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.fix::before,
.fix:after {
  content: "";
  display: table;
  clear: both;
}

.btn {
  font-size: 20px;
  display: inline-block;
  padding: 10px 15px;
  margin-top: 10px;
  color: #ffffff;
  border-radius: 10px;
  background: linear-gradient(to right, #00c6ff 0%, #2196f3 51%, #00c6ff 100%);
  background-size: 200% auto;
  transition: all 0.5s ease;
}

.btn:hover {
  background-position: right center;
}

/*==========================
Header Section
============================*/

.header {
  padding: 30px 20px;
  background-color: #e6fdfe;
}

.logo {
  width: 50px;
  float: left;
}

.logo a img {
  width: 100%;
}

.menu {
  float: right;
  margin-top: 8px;
}

.menu ul li {
  display: inline-block;
}

.menu ul li a {
  display: block;
  padding: 10px 15px;
  margin: 0 10px;
  font-size: 20px;
  color: #ffffff;
  border-radius: 10px;
  background: linear-gradient(to right, #00c6ff 0%, #2196f3 51%, #00c6ff 100%);
  background-size: 200% auto;
  transition: all 0.5s ease;
}

.menu ul li a:hover {
  background-position: right center;
}

.menu ul li a:last-child {
  margin-right: 0;
}

/*==========================
Banner Section
============================*/

.banner img {
  width: 100%;
}

/*==========================
Services Section
============================*/

.services {
  margin: 50px 0;
}

.title h4 {
  text-align: center;
  text-transform: capitalize;
  font-size: 30px;
  margin-bottom: 50px;
}

.single-service {
  width: 300px;
  padding: 20px;
  float: left;
  margin-right: 50px;
  border-radius: 10px;
  box-shadow: 0 0px 13px 5px #b6dcfb;
}

.single-service:last-child,
.service-page .single-service:nth-child(4n) {
  margin-right: 0;
}

.service-page .single-service {
  width: 231px;
  padding: 10px;
  margin-right: 25px;
  margin-bottom: 30px;
}

.single-service h4 {
  font-size: 25px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 20px;
}

.service-img {
  height: 146px;
  overflow: hidden;
  margin-bottom: 10px;
}

.service-page .service-img {
  height: 118px;
}

.single-service img {
  width: 100%;
  cursor: pointer;
  transition: all 1s ease;
}

.single-service img:hover {
  transform: scale(1.2);
}

.single-service p {
  text-align: justify;
  font-size: 16px;
}

/*==========================
About Section
============================*/
.about {
  padding: 50px 0;
}

.about-left {
  float: left;
  width: 680px;
  margin-right: 50px;
}

.about-left h4,
.about-right h4 {
  text-transform: capitalize;
  font-size: 30px;
  margin-bottom: 15px;
}

.about-left p {
  font-size: 16px;
  margin-bottom: 15px;
  text-align: justify;
}

.about-right {
  float: right;
  width: 270px;
}

.about-right ul li {
  border-bottom: 1px solid #dddddd;
  padding: 10px 0;
  background-image: url("../assets/right-arrow.png");
  background-repeat: no-repeat;
  background-position: -4px center;
}

.about-right ul li a {
  display: inline-block;
  color: #666666;
  font-size: 20px;
  font-weight: bold;
  padding-left: 30px;
  transition: all 0.3s ease;
}

.about-right ul li a:hover {
  color: #2196f3;
}

/*==========================
Footer Section
============================*/

.footer {
  padding: 30px;
  border-radius: 10px 10px 0 0;
  background: linear-gradient(to right, #00c6ff 0%, #2196f3 51%, #00c6ff 100%);
  background-size: 200% auto;
  transition: all 0.5s ease;
}

.footer:hover {
  background-position: right center;
}

.footer p {
  text-align: center;
  font-size: 20px;
  color: #ffffff;
}

.footer p a {
  color: #ffffff;
  font-weight: bold;
  transition: all 0.3s ease;
}

.footer p a:hover {
  color: #ffff00;
}

/*==========================
Page Banner Section
============================*/

.page-banner {
  background-size: cover;
  background-position: center;
  padding: 110px 0;
  position: relative;
  z-index: 2;
}

.page-banner:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #333;
  opacity: 0.1;
  z-index: -1;
}

.page-banner h2 {
  text-align: center;
  font-size: 50px;
  text-transform: capitalize;
  color: #ffffff;
}

/*====================================
Gallery Page - Gallery Section Section
=======================================*/

.galleries {
  margin: 50px 0;
}

.single-gallery {
  float: left;
  width: 316px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.single-gallery:nth-child(3n) {
  margin-right: 0;
}

.single-gallery iframe {
  width: 100%;
  border: 5px solid #dddddd;
}

/*====================================
Contact Page - Contact Section Section
=======================================*/

.contact {
  margin: 50px 0;
}

.contact-form {
  width: 680px;
  float: left;
  margin-right: 50px;
}

.contact-form h4,
.contact-address h4 {
  text-transform: capitalize;
  font-size: 30px;
  margin-bottom: 20px;
}

.contact-form form input {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #dddddd;
  padding: 10px 10px;
  margin-bottom: 20px;
  outline: none;
}

.contact-form form input:focus,
.contact-form form textarea:focus {
  box-shadow: 0 0 0 0.25rem rgb(33, 150, 243, 0.3);
}

.contact-form form textarea {
  max-width: 100%;
  min-width: 100%;
  border-radius: 10px;
  border: 1px solid #dddddd;
  padding: 10px 10px;
  outline: none;
}

.contact-form form input[type="submit"] {
  cursor: pointer;
}

.contact-address {
  width: 270px;
  float: right;
}

.contact-address ul li,
.contact-address ul li a {
  border-bottom: 1px solid #dddddd;
  padding: 20px 0;
  color: #666666;
  font-size: 20px;
  font-weight: bold;
}

.contact-address ul li:hover,
.contact-address ul li:hover a {
  color: #2196f3;
}

.contact-address ul li i {
  margin-right: 10px;
  font-size: 20px;
  color: #2196f3;
}

/*====================================
Contact Page - Map Section Section
=======================================*/

.map {
  margin-bottom: 50px;
}

.map iframe {
  width: 100%;
  height: 450px;
  border: 3px solid #dddddd;
  padding: 3px;
}
